@import "../theme/theme";


.Header {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50px;
    width: 100%;


    padding: 0 14px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(43, 87, 235);
    

    background: #1c1c1c;

    cursor: pointer;
}